
 .no-internet{
     text-align: center;
     width:10%;
     height:8%;
     margin-left: 45%;
     margin-top:20%;
     color:red;
     font-size:16px;
  }

.no-internet-full{
     text-align: center;
     width:80%;
     height:20%;
     margin-left: 10%;
     margin-top:20%;
     color:red;
     font-size:20px;
     font-weight: bold;
  }

  .titre {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: red;
}