<ion-header>
    <ion-toolbar color="danger">
        <ion-title>
            About
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-label class="ion-text-wrap">
        <ion-text color="danger">
            <h1 class="ion-text-center titre">About us </h1>
        </ion-text>
        <p class="desc">
            HitBoard is an app that provide hit music of the moment, we provide news and allow people to find video on youtube, we give you access to the beat of any music.
        </p>

    </ion-label>

     <ion-label class="ion-text-wrap">
        <ion-text color="danger">
            <h1 class="ion-text-center titre">What we do </h1>
        </ion-text>
        <p class="desc">
            HitBoard allow  artist who products great contents to have visibility every where in the world, we honor them , we  encourage them to product more.
        </p>
    </ion-label>
   <br><br>
    <ion-label class="ion-text-wrap">
       <ion-text color="danger">
           <h1 class="ion-text-center titre">Partners</h1>
       </ion-text>
       <p class="desc" style="text-align:center;">
          DOMINIK KOMPA SHOW  of radio solidarité
       </p>
   </ion-label>
     <br><br>
   <ion-label class="ion-text-wrap">
      <ion-text color="danger">
          <h1 class="ion-text-center titre"> Contact US</h1>
      </ion-text>
      <p class="desc" style="text-align:center;">
        Email: hist.haiti@gmail.com <br>
        Telephone: +50938151294
      </p>
  </ion-label>


</ion-content>
